body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    float: row;
    justify-content: space-between;
}
header>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}